body{
	margin: 0;
	font-family: arial bold, arial, sans-serif;
	font-size: .8em;
	color: black;
}
h1{
	background-color: #ffd738;
	font-size: 1em;
	padding: 10px 0 10px 15px;
	margin: 0;
}
h2{

}
h3{
	color: #ffd738; /*YELLOW COLOR*/
	}
.strong{
	font-weight: bold;
}
#container{ 
    width: 1000px;
    min-height: 800px;
}
#header{
	width:1000px;
	height: 200px;
	background-color: #efeded; /*light gray color*/
	display: block;
}
#body{
	width:1000px;
	height: 600;
	background-color: black;
	display: block;
}
	.big{
		width:375px;
		height: 275px;
		border: solid white 5px;
		display: inline-block;
		vertical-align: top;
		margin: 20px 20px 20px 30px;
	}
	#body-about{
		width: 530px;
		height: 285px;
		background-color: gray;
		display: inline-block;
		vertical-align: top;
		margin: 20px 30px 20px 0;
	}
	.body-bottom-block{
		width:220px;
		min-height: 150px;
		margin: 10px;
		background-color: pink;
		display: inline-block;
		vertical-align: top;
	}
		.first{
			margin-left: 30px;
		}
		.last{
			margin-right: 30px;
		}
		#body p{

		}
		.body-bottom-block img{
			width:220px;
			height:100px;
			margin: 0;
		}
		