body{
	margin: 0;
	font-family: arial bold, arial, sans-serif;
	font-size: .8em;
	color: black;
}
h1{
	background-color: #ffd738;
	font-size: 1em;
	padding: 10px 0 10px 15px;
	margin: 0;
}
h2{
	font-size: 1.2em;
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
	color:white;
}
h3{
	color: #ffd738; /*YELLOW COLOR*/
	font-size: .8em;
	font-weight: normal;
	padding-left: 30px;
}
h4{
	font-size: 1.7em;
	font-weight: bold;
	width: 580px;
	text-indent: 100px;
	text-align: right;
	display: inline-block;
	padding-right: 30px;
}
.strong{
	font-weight: bold;
}
#container{ 
    width: 1000px;
    min-height: 800px;
}
#header{
	width:1000px;
	min-height: 70px;
	background-color: #efeded; /*light gray color*/
	display: block;
	background: linear-gradient(#efeded 20%, white 80%);
}
	#header img{
		display: inline-block;
		vertical-align: top;
		width: 360px;
		padding-left: 20px;
	}
	ul{
		vertical-align: top;
		background-color: #efeded;
		height: 30px;
		background: linear-gradient(#efeded 40%, #d6d6d6 60%); 
	}
	ul :first-child{
		margin-right: 5px;
		margin-left: 50px;
	}
	ul :last-child{
		margin-right: 5px;
	}
	ul li{
		display: inline-block;
		text-decoration: none;
		border-right: solid #c1bbbb 1px; 
		background: transparent;
		height: 20px;
		padding: 10px 10px 0 10px;
	}
		ul li:first-child{
		border-left:solid #c1bbbb 1px;	
		}
		ul li:last-child{
		border-right:solid #c1bbbb 1px;	
		}
#body{
	width:1000px;
	min-height: 600;
	background-color: black;
	display: block;
}
	.big{
		width:375px;
		height: 275px;
		border: solid white 5px;
		display: inline-block;
		vertical-align: top;
		margin: 20px 20px 20px 30px;
	}
	#body-about{
		width: 530px;
		height: 285px;
		background-color: gray;
		display: inline-block;
		vertical-align: top;
		margin: 20px 30px 20px 0;
		background: linear-gradient(to right, #a8a7a3 , #485970); 
	}
		#body-about p{
			padding: 0 20px 10px 20px;
			color: white;
		}
	.body-bottom-block{
		width:220px;
		min-height: 150px;
		margin: 10px;
		background-color: pink;
		display: inline-block;
		vertical-align: top;
	}
		.first{
			margin-left: 30px;
		}
		.last{
			margin-right: 30px;
		}
		#body p{

		}
		.body-bottom-block img{
			width:220px;
			height:100px;
			margin: 0;
		}
		